<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Artifactory" value="https://icsrepo.churchofjesuschrist.org/artifactory/api/nuget/v3/nuget-local-shared" protocolVersion="3" />
  </packageSources>
  <apikeys>
    <add key="https://icsrepo.churchofjesuschrist.org/artifactory/api/nuget/v3/nuget-local-shared" value="jIFgf2tgfVmljgHevOM1k3hbJ/wT5ScJw2OKcu+Wsedmx4QYIJZ093+MK4KS/tFIlwQKvPSPcEnK3XOkmJbT5kPSGXGSRAbIwyWJvymiPSVe54hHD32YtI3Ziw9c4rTpwPwuyTv2SKvlqA96LbF3PnQSy0jyonGIEBJuA06yYSyqK+GaXRPq0/FFVK76ffC7C0GeDDj8jPd6IY1Q4Qa2+2cfwx0KvZNafDLnTXkrt11lJBM+rWtsgsbbVCBaHdVHX/+Ft34nBr7GHXzmlv0zczSfMqsxx+UtM7mr6FdMbxlQQ7NARxolKUuGJXdnP8BFl8StnezHD1aVZPntlX+ivw==" />
  </apikeys>
</configuration>
